*.class
.classpath
.project
.settings/
target/
*/target/*
*/target/*+

/JavaHibernateValidator/build/
/JavaHibernateValidator/dist/
/JavaStreams/build/
/JDK1.8Examples/build/
/JavaStreams/dist/
/JavaBeanValidatorWithMaven/target/
/JDK1.9Examples/build/
/JDK1.9Examples/dist/
/JDK13Examples/build/
/JDK18Examples/build/
/JDK13Examples/dist/
/JDK18Examples/dist/
/JUnit5SamplesWithMaven/target/
/gRPC/ObtainBoschNVRRecs/ObtainBoschNVRRecs/target/
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleJava/target/
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleCSharp/SimpleCCTVRecordingsClient/obj/
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleCSharp/SimpleCCTVRecordingsServer/obj/
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleCSharp/SimpleCCTVRecordingsClient/obj/Debug/net5.0/SimpleCCTVRecordingsClient.GeneratedMSBuildEditorConfig.editorconfig
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleCSharp/SimpleCCTVRecordingsServer/obj/Debug/net5.0/SimpleCCTVRecordingsServer.GeneratedMSBuildEditorConfig.editorconfig
/JavalinRestApi/target/

/JavaFX/INOSS/CCTV/CCTVMonCamSelection/nbproject/private/
/JavaFX/INOSS/CCTV/CCTVMonCamSelection/build/
/JavaFX/INOSS/CCTV/CCTVMonCamSelection/dist/
/JavaFX/Netbeans/NonModular/IDE/HelloFX/dist/
/Java22/target/
/gRPC/CctvGRpcSimple/target/
/CourseJavaInto/target/
/CourseJavaIntro/target/
/gRPC/ObtainBoschNVRRecs/ObtainBoschNVRRecsCSharp/ObtainRecs/.vs/ObtainRecs/FileContentIndex/7c1fd9a8-d0f7-46a7-bbd8-4fd45cf93d72.vsidx
/gRPC/ObtainBoschNVRRecs/ObtainBoschNVRRecsCSharp/ObtainRecs/.vs/ObtainRecs/DesignTimeBuild/.dtbcache.v2
/gRPC/ObtainBoschNVRRecs/ObtainBoschNVRRecsCSharp/ObtainRecs/.vs/ObtainRecs/v17
/gRPC/ObtainBoschNVRRecs/ObtainBoschNVRRecsCSharp/ObtainRecs/.vs/ProjectEvaluation
FileContentIndex
gRPC/SimplegRPCSampleJavaCpp/target/classes/helloworld.proto
gRPC/SimplegRPCSampleJavaCpp/target/classes/com/efacec/trp/tests/grpc/simplegrpcsamplejavacpp/SimplegRPCSampleJavaCppClient.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/com/efacec/trp/tests/grpc/simplegrpcsamplejavacpp/SimplegRPCSampleJavaCppServer.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/EmptyRequest.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/EmptyRequest$1.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/EmptyRequest$Builder.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/EmptyRequestOrBuilder.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GoodbyeReply.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GoodbyeReply$1.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GoodbyeReply$Builder.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GoodbyeReplyOrBuilder.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$1.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$2.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$3.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$AsyncService.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$GreeterBaseDescriptorSupplier.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$GreeterBlockingStub.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$GreeterFileDescriptorSupplier.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$GreeterFutureStub.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$GreeterImplBase.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$GreeterMethodDescriptorSupplier.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$GreeterStub.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/GreeterGrpc$MethodHandlers.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloReply.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloReply$1.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloReply$Builder.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloReplyOrBuilder.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloRequest.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloRequest$1.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloRequest$Builder.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloRequestOrBuilder.class
gRPC/SimplegRPCSampleJavaCpp/target/classes/io/grpc/examples/helloworld/HelloWorldProto.class
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/grpc-java/io/grpc/examples/helloworld/GreeterGrpc.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/EmptyRequest.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/EmptyRequestOrBuilder.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/GoodbyeReply.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/GoodbyeReplyOrBuilder.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/HelloReply.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/HelloReplyOrBuilder.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/HelloRequest.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/HelloRequestOrBuilder.java
gRPC/SimplegRPCSampleJavaCpp/target/generated-sources/protobuf/java/io/grpc/examples/helloworld/HelloWorldProto.java
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/annotations.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/auth.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/backend.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/billing.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/client.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/config_change.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/consumer.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/context.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/control.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/distribution.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/documentation.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/endpoint.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/error_reason.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/field_behavior.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/field_info.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/http.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/httpbody.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/label.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/launch_stage.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/log.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/logging.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/metric.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/monitored_resource.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/monitoring.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/policy.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/quota.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/resource.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/routing.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/service.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/source_info.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/system_parameter.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/usage.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/api/visibility.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/cloud/extended_operations.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/cloud/audit/audit_log.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/cloud/location/locations.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/geo/type/viewport.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/logging/type/http_request.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/logging/type/log_severity.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/longrunning/operations.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/rpc/code.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/rpc/error_details.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/rpc/status.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/rpc/context/attribute_context.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/rpc/context/audit_context.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/calendar_period.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/color.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/date.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/datetime.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/dayofweek.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/decimal.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/expr.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/fraction.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/interval.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/latlng.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/localized_text.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/money.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/month.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/phone_number.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/postal_address.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/quaternion.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/3471ba3fe8d645244d83a58738847c48/google/type/timeofday.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/501b559ef1be989c5d7003ea5eefa8d4/grpc/lb/v1/load_balancer.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/7a9b2d420673628a7aabd73a9835ab53/grpc/gcp/altscontext.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/7a9b2d420673628a7aabd73a9835ab53/grpc/gcp/handshaker.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/7a9b2d420673628a7aabd73a9835ab53/grpc/gcp/transport_security_common.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/any.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/api.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/descriptor.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/duration.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/empty.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/field_mask.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/source_context.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/struct.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/timestamp.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/type.proto
gRPC/SimplegRPCSampleJavaCpp/target/protoc-dependencies/a3e4b17bbb58ccb3a71ec6dd30c00476/google/protobuf/wrappers.proto
Java22/target/classes/java22/App.class
Java22/target/classes/java22/PatternMatchingForSwitch.class
Java22/target/classes/java22/RecordsWithInlineClasses.class
Java22/target/classes/java22/UnnamedVariablesAndPatterns.class
Java22/target/classes/java22/recordswithinlineclasses/PointNew.class
Java22/target/classes/java22/recordswithinlineclasses/PointNew$1Distance.class
Java22/target/classes/java22/recordswithinlineclasses/PointOld.class
JavaFX/ChartApp/.gradle/nb-cache/trust/E864445CB1D583F42C840E964ED8DADC546A07510B0B26FB44B2ADD3A0A9BB40
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/8.10/gc.properties
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/8.10/checksums/checksums.lock
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/8.10/checksums/md5-checksums.bin
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/8.10/checksums/sha1-checksums.bin
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/8.10/dependencies-accessors/gc.properties
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/8.10/fileChanges/last-build.bin
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/8.10/fileHashes/fileHashes.bin
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/8.10/fileHashes/fileHashes.lock
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/buildOutputCleanup/buildOutputCleanup.lock
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/buildOutputCleanup/cache.properties
JavaFX/Griffon/Examples/GriffonExamples/GriffonExample/.gradle/nb-cache/trust/A3D9C67AC4D9D9ED46E034C37105D3B8BDD740D5AC65325B975CC1B7405D16F3
JavaFX/ImageApp/.gradle/nb-cache/trust/F52079E95A8A49ADC173C858E8456E91AC77AC44FC0354C6559A10287F90C926
