/JavaHibernateValidator/build/
/JavaHibernateValidator/dist/
/JavaStreams/build/
/JDK1.8Examples/build/
/JavaStreams/dist/
/JavaBeanValidatorWithMaven/target/
/JDK1.9Examples/build/
/JDK1.9Examples/dist/
/JDK13Examples/build/
/JDK18Examples/build/
/JDK13Examples/dist/
/JDK18Examples/dist/
/JUnit5SamplesWithMaven/target/
/gRPC/ObtainBoschNVRRecs/ObtainBoschNVRRecs/target/
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleJava/target/
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleCSharp/SimpleCCTVRecordingsClient/obj/
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleCSharp/SimpleCCTVRecordingsServer/obj/
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleCSharp/SimpleCCTVRecordingsClient/obj/Debug/net5.0/SimpleCCTVRecordingsClient.GeneratedMSBuildEditorConfig.editorconfig
/gRPC/SimpleCCTVRecsSample/SimpleCCTVRecsSampleCSharp/SimpleCCTVRecordingsServer/obj/Debug/net5.0/SimpleCCTVRecordingsServer.GeneratedMSBuildEditorConfig.editorconfig
/JavalinRestApi/target/

/JavaFX/INOSS/CCTV/CCTVMonCamSelection/nbproject/private/
/JavaFX/INOSS/CCTV/CCTVMonCamSelection/build/
/JavaFX/INOSS/CCTV/CCTVMonCamSelection/dist/
/JavaFX/Netbeans/NonModular/IDE/HelloFX/dist/
/gRPC/SimplegRPCSampleJavaCpp/target/
